/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
/* CONTENT IS CLOSE */
.chatbox__support {
        display: flex;
        flex-direction: column;
        z-index: -123456;
        opacity: 0;
        transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* BUTTON */
.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 15px;
    background:  rgba(201, 201, 201, 0.699);
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 10px 15px rgb(255, 210, 11);
    cursor: pointer;
position: fixed;
left: 50%;
transform: translate(-50%);
bottom: 1px;
}

/* HEADER */
.chatbox__header {
    background: #810B0BC7;
    position: fixed;
left: 50%;
top:0;
bottom: 100%;
transform: translate(-50%,-100%);
height: 20px;
width: 357px;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
  height:17rem ;
    margin-top: 10px;
    margin-bottom: 25px;    
    margin-left: 0px;
    background-color:#021914;
    padding: 9px 12px;
    max-width: 100%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* height weight */
.chatbox__support {
  background-color: yellow;
    height: 19.9rem;
    width: 357px;
    box-shadow: 0px 0px 500px rgba(0, 0, 0, 0);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
}


/* textarea */
.bdosabbir textarea{
  border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  vertical-align: top;
    transform: translate(-6.8%,-0%);
  height: 8.9rem;
  width: 20rem;
}
.bdsbiir textarea{
  border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  vertical-align: top;
    transform: translate(-6.8%,-0%);
  height: 8.9rem;
  width: 20rem;
}


